# Prisma
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Next Auth environment variables
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Inngest environment variables
INNGEST_SIGNING_KEY="your-inngest-signing-key"
INNGEST_EVENT_KEY="your-inngest-event-key"

# Brevo (formerly Sendinblue) environment variables
BREVO_API_KEY="your-brevo-api-key"
BREVO_SENDER_NAME="Next.js Starter"
BREVO_SENDER_EMAIL="sender@example.com"

# Client side environment variables
NEXT_PUBLIC_APP_NAME="Next.js Starter"
NEXT_PUBLIC_APP_DESCRIPTION="Um template com Next.js, TypeScript e Mantine UI"
NEXT_PUBLIC_APP_LANGUAGE="pt-BR"
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_USER_HOME="/dashboard"

# Server side environment variables
NEXT_ENABLE_HOME_PAGE=true
NEXT_ENABLE_SIGN_UP_PAGE=true
